body {
  font-family: "Poppins";
  background: #131f31 url(../images/lmex_hero_bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.container {
  max-width: 1440px;
}
.textLabel {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #798595 !important;
}
.blueBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 41px;
  background: #006de4;
  border-radius: 8px;
}
.buySaleBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #f3f3f3;
  padding: 7px 17.15px;
  background: #006de4;
  border-radius: 8px;
  border: none;
}
::-webkit-input-placeholder {
  /* Edge */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #798595;
  opacity: 0.5;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #798595;
  opacity: 0.5;
}

::placeholder {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #798595;
  opacity: 0.5;
}
.row-smaller {
  margin-left: -10px;
  margin-right: -10px;
}

.row-smaller > div[class^="col"] {
  padding-left: 10px;
  padding-right: 10px;
}
.row-extrasmaller {
  margin-left: -8px;
  margin-right: -8px;
}

.row-extrasmaller > div[class^="col"] {
  padding-left: 8px;
  padding-right: 8px;
}
.has-search .form-control {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 8px;
  height: calc(2.75em + 0.75rem + 4px);
  padding: 12px 12px 12px 38px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  width: 2.375rem;
  height: 100%;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Market Page */
.marketTabsInfo {
  max-width: 1130px;
  margin: 0 auto;
}
.marketTabs {
  max-width: 500px;
  margin: 0 auto;
  border-bottom: 1px solid #79859550;
  margin-bottom: 40px;
}
.marketTabs .nav-item {
  padding: 15px 35px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  position: relative;
  cursor: pointer;
}
.marketTabs .nav-link {
  color: #798595;
}
.marketTabs .nav-link.active {
  color: #ffffff;
}
.marketTabs .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 166px;
  height: 5px;
  background: #ffffff;
  margin-bottom: -3px;
}
.filterBtn {
  background: #006de4;
  color: #ffffff;
  border-radius: 6px;
  margin: 0px 5px;
  padding: 10px;
  min-width: 106px;
}
.grayOutlineBtn {
  border: 1px solid #394556;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 10px;
  min-width: 106px;
  margin: 0px 5px;
}
.grayOutlineBtn:hover,
.grayOutlineBtn:focus,
.grayOutlineBtn:not(:disabled):not(.disabled):active {
  background: #006de4;
  color: #ffffff;
}
.loadMoreBtn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #f3f3f3;
  background: #006de4;
  border-radius: 8px;
  padding: 13px 38px;
  border: none;
  margin-top: 43px;
}
.loadMoreBtn:hover,
.loadMoreBtn:focus,
.loadMoreBtn:not(:disabled):not(.disabled):active {
  color: #f3f3f3;
  background: #006de4;
}
.buttonBox {
  margin-bottom: 35px;
}
.greenText {
  color: #1dc098;
}
.redText {
  color: #fe6666;
}
.upTriangle {
  font-size: 8px;
}
.downTriangle {
  transform: rotate(180deg);
}
.mb30 {
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .navbar-toggler {
    border: none;
    color: #ffffff !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
}
